In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
from functools import partial

In [6]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/zihansu/github/FinalProject-Group1/Employee- Salary- Analysis

In [10]:
salaryDf= pd.read_csv("Employee.csv")

In [11]:
salaryDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

In [17]:
salaryDf.head()

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6

In [16]:
# Select a minimal set of features that are most likely to influence Salary
columns_to_keep = [
    'Salary',
    'Age',
    'StockOptionLevel',
    'YearsAtCompany',
    'EducationLevel',
    'EnvironmentSatisfaction',
    'TrainingOpportunitiesWithinYear',
    'TrainingOpportunitiesTaken',
    'SelfRating',
    'ManagerRating'
]

salaryDf_model = salaryDf[columns_to_keep].copy()
salaryDf_model.head()

KeyError: "['EducationLevel', 'EnvironmentSatisfaction', 'TrainingOpportunitiesWithinYear', 'TrainingOpportunitiesTaken', 'SelfRating', 'ManagerRating'] not in index"

In [14]:
education_mapping = {
    "No Formal Qualifications": 1,
    "High School": 2,
    "Bachelors": 3,
    "Masters": 4,
    "Doctorate": 5
}

In [15]:
salaryDf_model["EducationLevel"] = salaryDf_model["EducationLevel"].replace(education_mapping)
salaryDf_model

NameError: name 'salaryDf_model' is not defined

In [45]:
# Save the selected feature DataFrame to a new CSV file
salaryDf_model.to_csv("../salary_cleaned.csv", index=False)